
<%= form_for @article do |a| %>
  <br>

  <p>
    <%= a.label :title %> <br>
    <%= a.text_field :title, size: "56" %>
  </p>
  <p>
    <%= a.label :description %> <br>
    <%= a.text_area :description, size: "56x10" %>
  </p>
<div align="center">
  <div class="form-container">
    <div class="form-b1"><%= button_to  @action, articles_path, :method => 'post', class: 'btn btn-primary' %></div>
    <div class="form-b2"><%= button_to 'Cancel', articles_path, :method => :get, class: 'btn btn-primary' %></div>
  </div>
</div>
<% end %>
<br>


<!-- Modal -->
<div class="modal fade" id="confirmBox" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="confirmBoxTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Title "<%= @article.title %>"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li style="color:red"><%= msg %></li>
            <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="center">
<% if @article.errors.count > 0 %>
  <script>
      $(document).ready(function(){
          $("#confirmBox").modal('show');
      });
  </script>
<% end %>
</div>
