<% content_for(:title, "Article Lists") %>
<%= render 'shared/paging', obj: @articles %>
  <hr>
  <div style="position: relative;">
    <h3 class="header">
       LISTING ALL ARTICLES
    </h3>

    <hr>
    <% will_paginate @articles %>

    <small style="float:right; font-weight:bold">
      <%= @articles.current_page %> / <%= @articles.total_pages %>
    </small>

    <%= render 'articles/index' %>

    <% will_paginate @articles %>

  </div>
  <hr>

  <script>
    function goto(id) {
      window.location.href = 'http://<%= IPADDRESS %>/articles/' + id
    }
  </script>
