<% content_for(:title, "Article Lists") %>
<hr>
  <div style="position: relative;">
    <h2 class="header">
      Listing all articles
    </h2> <br>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          DateTime
        </th>
      </tr>
      <% @articles.each do |article|  %>
        <tr style="cursor:pointer" id="<%= article.id %>" onclick="goto(<%= article.id %>)" >
          <td width="25%">
            <%= article.title %>
          </td>
          <td width="50%">
            <% if article.description.length > 35 %>
              <%= article.description[0, 32] %> ...
            <% else %>
              <%= article.description %>
            <% end %>
          </td>
          <td width="25%">
            <%= (article.updated_at).strftime("%b %d %Y %T %P") %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <hr>

  <script>
    function goto(article) {
      window.location.href = 'http://localhost:3000/articles/'+article
    }
  </script>
