<% content_for(:title, "#{@article.title}") %>

  <div align="center" >
    <div class="center" style="margin:15px;text-align:left;">
      <h2 class="header">
        Title: <%= @article.title %>
      </h2>
      <%= form_for @article do |a| %>
        <br>
        <p>
          <%= a.label :title %> <br>
          <%= a.text_field :title, size: "56", disabled: 'true' %>
        </p>
        <p>
          <%= a.label :description %> <br>
          <%= a.text_area :description, size: "56x6", disabled: 'true' %><br>
        <small>Created by
          <%= link_to  @article.user.username, user_path(@article.user.id) %>
           last updated: <%= @article.updated_at.strftime("%b %d %Y %T %P") %></small>
        </p>

      <% end %>

      <div align="center">

        <div class="show-container">
          <div class="show-b1"><%= button_to "Edit Article",  edit_article_path, class: "btn btn-primary", :method => :get %></div>
          <div class="show-b2"><%= button_to "List Articles", articles_path, class: "btn btn-success", :method => :get %></div>
          <div class="show-b3"><button type="button" class="btn btn-danger" onclick="confirm()">Delete</button></div>
        </div>

      </div>

    </div>
  </div>


  <!-- Modal -->
<div class="modal fade center" id="confirmBox" tabindex="-1" data-backdrop="true" role="dialog" aria-labelledby="confirmBoxLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="confirmBoxLabel">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h4 align="center" style="font-weight:bold">Are you sure?</h4>
      </div>

      <!-- Delete button in the footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <%= link_to 'Delete', article_path(@article), method: :delete, class: 'btn btn-outline-danger' %>
      </div>

  </div>
</div>
</div>

<script>
  function confirm() {
    $(document).ready(function(){
        $("#confirmBox").modal('show');
    });
  }
</script>
