<% content_for(:title, "#{@article.title}") %>

  <div align="center" >
    <div class="center" style="margin:15px;text-align:left;">
      <h2 class="header">
        Showing selected article
      </h2>
      <%= form_for @article do |a| %>
        <br>
        <p>
          <%= a.label :title %> <br>
          <%= a.text_field :title, size: "56", disabled: 'true' %>
        </p>
        <p>
          <%= a.label :description %> <br>
          <%= a.text_area :description, size: "56x10", disabled: 'true' %>
        </p>
      <% end %>

      <div align="center">

        <div class="show-container">
          <div class="show-b1"><%= button_to "Edit Article", edit_article_path, class: "btn btn-primary", :method => :get %></div>
          <div class="show-b2"><%= button_to "List Articles", articles_path, class: "btn btn-primary", :method => :get %></div>
          <div class="show-b3"><%= button_to 'Delete', article_path(@article), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %></div>
        </div>

      </div>



    </div>
  </div>
