<%= render 'shared/paging', obj: @users %>

  <hr>
  <h2 class="header">
    ALL ALPHA BLOGGERS
  </h2>

  <hr>
  <% will_paginate @users %>

  <small style="float:right; font-weight:bold">
    <%= @users.current_page %> / <%= @users.total_pages %>
  </small>

  <% will_paginate @users %>

  <div class="parent">
    <div class="row">
      <!-- <div class="col" style="width:250px"> -->
        <% @users.each do |user| %>
          <!-- <hr> -->

          <div class="card-deck card col-sm-2">
            <div class="user-card">
              <div class="user-card-body">
                <h3 class="card-title">
                  <br>
                  <%= link_to user.username.upcase, user_path(user) %>
                </h3>
                <%= link_to gravatar_for(user), user_path(user) %>
                <hr>
                <small>
                  <%= pluralize(user.articles.count, "article") if user.articles %>
                  <% if logged_in? and current_user.admin? %>  <br>
                  <%= button_to "Delete this user", confirm_path(uid: user.id, name: user.username), class: "btn btn-danger", :method => :post %>
                  <% end %>
                </small>
              </div>
            </div>
          </div>
        <% end %>

    </div>
  </div>
