<div>
  <h3 align="center">
    Welcome to
    <%= @user.username %>'s page</h3>
  <div align="center">
    <div style="">
      <%# <%= gravatar_for @user %>
      <% if @avator_image != nil && @avator_image.count > 0 && @user == current_user %>
      <%= image_tag(@avator_image[0].image, class: 'profile') %>
      <% else %>
       <img src='https://picsum.photos/200/300?image=<%= (@user.id.to_i % 1000) + LOREM_PIC %>' class="profile">
      <% end %>
    </div>
    <h4 align="center">
      <%= @user.username %>'s articles
    </h4>
  </div>
</div>

  <div class="container">
    <div class="row">

      <% @user.articles.each do | a | %>
        <a href="http://<%= IPADDRESS %>/articles/<%= a.id %>" style="text-decoration:none">
            <%# <%= render 'shared/card', obj: a %>
            <%= render 'shared/card', obj: a, length: '200', width: '310px' %>
        </a>
      <% end %>

  </div>
</div>
