<div>
  <h3 align="center">
    Welcome to
    <%= @user.username %>'s page</h1>
  <div align="center">
    <div style="">
      <%= gravatar_for @user %>
    </div>
    <h4 align="center">
      <%= @user.username %>'s articles
    </h4>
  </div>
</div>


  <div class="container">
    <div class="row">
    <!-- <div class="col"> -->
      <% @user.articles.each do | a | %>
        <a href="http://<%= IPADDRESS %>/articles/<%= a.id %>" style="text-decoration:none">

          <%= render 'shared/card', obj: a %>

        </a>
      <% end %>
      <!-- </div> -->
  </div>
</div>
