<div>
  <h3 align="center">
    Welcome to
    <%= @user.username %>'s page</h3>
  <div align="center">
    <div style="">
      <%= get_avator_image(@user, 80) %>
    </div>

    <h4 align="center">
      <%= @user.username %>'s articles
    </h4>
  </div>
</div>


  <div class="container">
    <div class="row">

      <% @user.articles.each do | a | %>
        <a href="http://<%= IPADDRESS %>/articles/<%= a.id %>" style="text-decoration:none">
            <%# <%= render 'shared/card', obj: a %>
            <%= render 'shared/card', obj: a, length: '200', width: '310px' %>
        </a>
      <% end %>

  </div>
</div>
