<div>
  <h3 class="header">
    WELCOME TO
    <%= @user.username.upcase %> ARTICLES' PAGE </h3>
  <div align="center">
    <div style="">
      <%= get_avator_image(@user, 100) %>
    </div>

  </div>
</div>

<hr>
  <div class="container">
    <div class="row">

      <% @user.articles.each do | a | %>
        <div class="col-lg-6">
          <a href="http://<%= IPADDRESS %>/articles/<%= a.id %>" style="text-decoration:none;font-size:16px">
            <%# <%= render 'shared/card', obj: a %>
            <%= render 'shared/card', obj: a, length: '200', width: '435px' %>
          </a>
        </div>
      <% end %>

  </div>
</div>
