
<div class="card-deck card">
  <div align="center" class="article-card">
    <div class="article-card-body" style="width:<%= width %>">
      <h5 class="card-title"> <br>
        <%= obj.title.upcase %>
      <hr>
      <div style="text-align: left; margin: 2px; font-weight: normal">
        <% if obj.description.chars.length >= length.to_i  %>
          <%= obj.description[0..length.to_i] %> <Strong> ... </strong>
        <% else %>
          <%= obj.description[0..length.to_i] %>
        <% end %>
      </div>
      <hr>
      <% if obj.categories.any? %>
        <p style="float: left; margin: 2px"> Categories: <%= render obj.categories %></p>
      <% end %>
      <br>
    </div>
  </div>
</div>
