
<div class="card-deck card">
  <div align="center" class="article-card">
    <div class="article-card-body" style="width:<%= width %>">
      <div>
        <br>
        <h5 class="card-title" align="center">
          <%= obj.title.upcase %>
        </h5>
        <hr>
        <% if obj.description.chars.length >= length.to_i  %>
          <%= obj.description[0..length.to_i] %> <Strong> ... </strong>
        <% else %>
          <%= obj.description[0..length.to_i] %>
        <% end %>
      </div>
      <hr>
      <p> Categories:
      <% if obj.categories.any? %>
         <%= render obj.categories %></p>
      <% end %>
      <br>
    </div>
  </div>
</div>
