<div class="page-right">
    <a class="paging" href="http://<%= IPADDRESS %><%=request.env['PATH_INFO']%>?page=<%=(obj.current_page == obj.total_pages ? 1 : obj.current_page + 1) %>" role="button">
        <i class="fas fa-3x fa-chevron-right paging"></i>
    </a>
</div>

<div class="page-left">
    <a class="paging" href="http://<%= IPADDRESS %><%=request.env['PATH_INFO']%>?page=<%=(obj.current_page < 2 ?  obj.total_pages : obj.current_page - 1) %>"  role="button">
        <i class="fas fa-3x fa-chevron-left paging"></i>
    </a>
</div>
