<%= render 'shared/errors', obj: @avator %>

<div class="center">

  <% if @avator_image.count > 0 %>
  <%= image_tag(@avator_image[0].img_resize(300), class: 'profile') %> <%=  "Admin" if current_user.admin? %>
  <% else %>
  <img src='https://picsum.photos/200/300?image=<%= current_user.id.to_i + LOREM_PIC %>' class="picsum" style="width:300px; height:300px"/> <%=  "Admin" if current_user.admin? %>
  <% end %>

  <br><br>
  <%= form_with(model: avator, local: true) do |form| %>

    <% if avator.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(avator.errors.count, "error") %>
          prohibited this avator from being saved:</h2>

      </div>
    <% end %>

    <div class="field">
      <%= form.hidden_field :uid, :value => current_user.id %>
    </div>

    <div class="field" style="margin: 10px">
      <%= form.label :image, style: "font-size:24px;" %>
      <%= form.file_field :image, style: "font-size:24px" %>
    </div>

    <br><br>
    <div class="actions">
    <%= form.submit class: 'btn btn-outline-primary btn-lg', onclick: "validate()" %>

  <% end %>

  <%= link_to "Cancel", edit_user_path(current_user.id), class: 'btn btn-outline-primary btn-lg' %>
</div>

</div>

<!-- Modal -->
<div class="modal fade center" id="confirmBox" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="confirmBoxLabel" aria-hidden="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="confirmBoxLabel">Avator</h5>
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> -->
      <% if @path == 'new' %>
        <%= link_to 'X', new_avator_path, method: :get %>
      <% else %>
        <%= link_to 'X', new_avator_path, method: :get %>
      <% end %>
    </div>

<br>
    <div class="modal-body">

      <div class="" style="color: red; font-size:20px">
        <ul>
          <li>Image file must be less than 500KB (0.5MB).</li>
          <li>File extension must be: jpeg, jpg, png or gif </li>
        </ul>
      </div>

    </div>
<br>
    <div class="modal-footer">
      <% if @path == 'new' %>
        <%= link_to 'Close', new_avator_path, method: :get, :class => 'btn btn-primary btn-lg' %>
      <% else %>
        <%= link_to 'Close', new_avator_path, method: :get, :class => 'btn btn-primary btn-lg' %>
      <% end %>
    </div>

</div>
</div>
</div>



<script>
// function validate() {
  $('#avator_image').bind('change', function () {
    var size_in_megabyte = this.files[0].size;
    var fileExtension = ['jpeg', 'jpg', 'png', 'gif'];
    if ((size_in_megabyte > 500000) || ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1)) {
      $(document).ready(function () {
        $("#confirmBox").modal('show');
      });
    }
  });
//  }
</script>
