<!-- <div class="content"> -->
<div style="position: absolute; width: 100%; top: 0; z-index:10;">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/" id="logo"><%= image_tag('blog-logo.png', :size => '48x48') %>Alpha Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
          <%= link_to "Articles", articles_path, class: "nav-link", id: 'menu' %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link menu" href="#" id='menu'>Link</a> -->
          <%= link_to "Members", users_path, class: "nav-link", id: 'menu' %>
        </li>
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="#">Action</a> -->
            <%= link_to "Add Article", new_article_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Categories", categories_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% Category.all.each do |category| %>
              <!-- <div> -->
                <%= link_to "#{category.name}", category_path(category), class: "dropdown-item", :style => "text-decoration:none"%>
              <!-- </div> -->
            <% end %>
            <% if logged_in? and current_user.admin? %>
              <div class="divider" role="separator"></div>
              <div class="dropdown-divider"></div>
              <%= link_to "Create A Category", new_category_path, class: "dropdown-item", :style => "text-decoration:none" %>
            <% end %>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <!-- <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li> -->
        &nbsp&nbsp
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search" type="submit">Search</button>
        </form>
      </ul>
        <% if logged_in? %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= get_avator_image(current_user, 36) %> <%= "Admin" if current_user.admin? %>
          </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" href="#">Action</a> -->
            <a class="dropdown-item" <%= link_to "Edit your profile", edit_user_path(current_user) %></a>
            <a class="dropdown-item" <%= link_to "View your articles", user_path(current_user) %></a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

          <%= link_to 'Log out', logout_path, method: :delete, id: 'menu' %>
        <% else %>
          <%= link_to 'Log in', login_path, id: 'menu' %> &nbsp&nbsp
          <%= link_to 'Sign up', signup_path, id: 'menu' %>
        <% end %>
        &nbsp&nbsp
    </div>

  </nav>
</div>
