<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag(source='favicon.ico') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

  </head>

  <body>

    <%= render 'layouts/navbar' %>
    <hr>
    <div class="content">
      <div align="center" class="container">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>

    <%= render 'layouts/messages' %>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#notification").draggable();
      });
      new WOW().init();
    </script>

  </body>
</html>
